@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">UpLoad File</h1>
	<form method="post" enctype="multipart/form-data" asp-controller="Routes" asp-action="Index">
		<div>
			<label class="control-label"></label>
			<input class="form-control" type="file" name="pathFile" />
			<span class="text-danger"></span>
		</div>
		<div>
			<input type="submit" value="Enviar" class="btn btn-primary" />
		</div>
	</form>
</div>
