@model string[]

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


    @using (Html.BeginForm("WriterFileDocx", "Routes", FormMethod.Post, new { enctype = "multipart/form-data" }))

   {
    <input type="submit" value="WriterFile" />
   }
   


<table class="table">
    <thead>        
           <form asp-action="Create">
               <p>Escolha colunas para impressao</p>
             
               
                    @for(int i=0;i<@Model.GetLength(0);i++)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" id="selectColumn" name ="selectColumn" value="@Model[i]"/>
                                    @Html.DisplayFor(model => model[i])
                                </div>
                            </td>
                        </tr>
                    }
               
           </form>       
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
